body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

/* TypeAhead */
.typeahead, .tt-query, .tt-hint {
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 14px;
	line-height: 20px;
	outline: medium none;
	padding: 8px 12px;
	width: 100%;
}

.typeahead {
	background-color: #fff;
}

.tt-menu, .gist {
	text-align: left;
}

.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
	color: #999;
}

.tt-menu {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin: 12px 0;
	padding: 8px 0;
	width: 100%;
}

.tt-suggestion {
	font-size: 14px;
	line-height: 14px;
	padding: 3px 20px;
}

.tt-suggestion:hover {
	background-color: #b3b3b3;
	color: #fff;
	cursor: pointer;
}

.tt-suggestion.tt-cursor {
	background-color: #b3b3b3;
	color: #fff;
}

.tt-suggestion p {
	margin: 0;
}
.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}
.gist {
	font-size: 14px;
}

#rtl-support .tt-menu {
	text-align: right;
}

/* End TypeAhead */

/* toastr overrides */
#toast-container > div {
    opacity:1;
}
/* End toastr */

/* General for site */
.schemaSynchronize {
	margin: 0px 0px 10px 0px;
}
/* End General for site */